.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 100px;
  height: 30px;

  border: 2px solid #bb18ec;
  border-radius: 6px;

  font-size: small;
  font-weight: 600;
  color: #bb18ec;

  transition: all 0.4s;
}

.btn:hover {
  cursor: pointer;

  background-color: #bb18ec;
  color: #fff;
}
