.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;

  border-radius: 8px;
  background-color: #bb18ec;

  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
}
